.Flash {
  position: relative;
  padding: var(--base-size-16);
  margin-top: 0;
  color: var(--fgColor-default);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
}

.Flash:where([data-variant='default']) {
  background-color: var(--bgColor-accent-muted);
  border-color: var(--borderColor-accent-muted);
}

.Flash:where([data-variant='default']) :where(svg) {
  color: var(--fgColor-accent);
}

.Flash:where([data-variant='success']) {
  background-color: var(--bgColor-success-muted);
  border-color: var(--borderColor-success-muted);
}

.Flash:where([data-variant='success']) :where(svg) {
  color: var(--fgColor-success);
}

.Flash:where([data-variant='danger']) {
  background-color: var(--bgColor-danger-muted);
  border-color: var(--borderColor-danger-muted);
}

.Flash:where([data-variant='danger']) :where(svg) {
  color: var(--fgColor-danger);
}

.Flash:where([data-variant='warning']) {
  background-color: var(--bgColor-attention-muted);
  border-color: var(--borderColor-attention-muted);
}

.Flash:where([data-variant='warning']) :where(svg) {
  color: var(--fgColor-attention);
}

.Flash:where([data-full]) {
  /* stylelint-disable-next-line primer/spacing */
  margin-top: -1px;
  border-width: var(--borderWidth-thin) 0;
  border-radius: 0;
}

.Flash :where(p:last-child) {
  margin-bottom: 0;
}

.Flash :where(svg) {
  margin-right: var(--base-size-8);
}
