@layer primer.components.IssueLabel {
  .IssueLabel {
    display: inline-flex;
    min-height: var(--base-size-20);
    padding-block: 0;
    padding-inline: var(--base-size-8);
    font-size: var(--text-body-size-small);
    font-weight: var(--base-text-weight-semibold);
    line-height: var(--text-body-lineHeight-small);
    color: var(--label-fgColor, var(--fgColor-default));
    white-space: nowrap;
    background-color: var(--label-bgColor-rest, var(--bgColor-muted));
    border: 0;
    border-radius: var(--borderRadius-full);
    box-shadow: var(--boxShadow-thin, inset 0 0 0 1px) transparent;
    align-items: center;
  }

  .IssueLabel:where(button, a) {
    text-decoration: none;
  }

  .IssueLabel:where(button, a):hover {
    color: var(
      --label-fgColor-hover,
      var(--label-fgColor, var(--fgColor-default))
    );
    cursor: pointer;
    background-color: var(
      --label-bgColor-hover,
      var(--label-bgColor-rest, var(--bgColor-muted))
    );
  }

  .IssueLabel:where(button, a):active {
    color: var(
      --label-fgColor-active,
      var(--label-fgColor, var(--fgColor-default))
    );
    background-color: var(
      --label-bgColor-active,
      var(--label-bgColor-rest, var(--bgColor-muted))
    );
  }

  .IssueLabel:where(button, a):focus-visible {
    outline: 2px solid var(--focus-outlineColor, Highlight);
    outline-offset: 2px;
  }

  .IssueLabel[data-variant='pink'] {
    --label-bgColor-rest: var(--label-pink-bgColor-rest, #ffeff7);
    --label-bgColor-hover: var(--label-pink-bgColor-hover, #ffd3eb);
    --label-bgColor-active: var(--label-pink-bgColor-active, #ffadda);
    --label-fgColor: var(--label-pink-fgColor-rest, #bf3989);
    --label-fgColor-hover: var(--label-pink-fgColor-hover, #9e3670);
    --label-fgColor-active: var(--label-pink-fgColor-active, #7d2457);
  }

  .IssueLabel[data-variant='plum'] {
    --label-bgColor-rest: var(--label-plum-bgColor-rest, #fbefff);
    --label-bgColor-hover: var(--label-plum-bgColor-hover, #ecd8ff);
    --label-bgColor-active: var(--label-plum-bgColor-active, #d8b9ff);
    --label-fgColor: var(--label-plum-fgColor-rest, #8250df);
    --label-fgColor-hover: var(--label-plum-fgColor-hover, #6639ba);
    --label-fgColor-active: var(--label-plum-fgColor-active, #512a97);
  }

  .IssueLabel[data-variant='purple'] {
    --label-bgColor-rest: var(--label-purple-bgColor-rest, #f6f2ff);
    --label-bgColor-hover: var(--label-purple-bgColor-hover, #e8daff);
    --label-bgColor-active: var(--label-purple-bgColor-active, #d2b3ff);
    --label-fgColor: var(--label-purple-fgColor-rest, #8250df);
    --label-fgColor-hover: var(--label-purple-fgColor-hover, #6639ba);
    --label-fgColor-active: var(--label-purple-fgColor-active, #512a97);
  }

  .IssueLabel[data-variant='indigo'] {
    --label-bgColor-rest: var(--label-indigo-bgColor-rest, #f0f4ff);
    --label-bgColor-hover: var(--label-indigo-bgColor-hover, #dbe7ff);
    --label-bgColor-active: var(--label-indigo-bgColor-active, #bdcffb);
    --label-fgColor: var(--label-indigo-fgColor-rest, #3451b2);
    --label-fgColor-hover: var(--label-indigo-fgColor-hover, #2f4494);
    --label-fgColor-active: var(--label-indigo-fgColor-active, #233875);
  }

  .IssueLabel[data-variant='blue'] {
    --label-bgColor-rest: var(--label-blue-bgColor-rest, #ddf4ff);
    --label-bgColor-hover: var(--label-blue-bgColor-hover, #b6e3ff);
    --label-bgColor-active: var(--label-blue-bgColor-active, #80ccff);
    --label-fgColor: var(--label-blue-fgColor-rest, #0969da);
    --label-fgColor-hover: var(--label-blue-fgColor-hover, #0550ae);
    --label-fgColor-active: var(--label-blue-fgColor-active, #033d8b);
  }

  .IssueLabel[data-variant='cyan'] {
    --label-bgColor-rest: var(--label-cyan-bgColor-rest, #e6fbff);
    --label-bgColor-hover: var(--label-cyan-bgColor-hover, #bdf5ff);
    --label-bgColor-active: var(--label-cyan-bgColor-active, #80ecff);
    --label-fgColor: var(--label-cyan-fgColor-rest, #1b7c83);
    --label-fgColor-hover: var(--label-cyan-fgColor-hover, #176b70);
    --label-fgColor-active: var(--label-cyan-fgColor-active, #0f565c);
  }

  .IssueLabel[data-variant='teal'] {
    --label-bgColor-rest: var(--label-teal-bgColor-rest, #dafbe1);
    --label-bgColor-hover: var(--label-teal-bgColor-hover, #aceebb);
    --label-bgColor-active: var(--label-teal-bgColor-active, #6fdd8b);
    --label-fgColor: var(--label-teal-fgColor-rest, #116329);
    --label-fgColor-hover: var(--label-teal-fgColor-hover, #044f1e);
    --label-fgColor-active: var(--label-teal-fgColor-active, #003d16);
  }

  .IssueLabel[data-variant='pine'] {
    --label-bgColor-rest: var(--label-pine-bgColor-rest, #dafbe1);
    --label-bgColor-hover: var(--label-pine-bgColor-hover, #aceebb);
    --label-bgColor-active: var(--label-pine-bgColor-active, #6fdd8b);
    --label-fgColor: var(--label-pine-fgColor-rest, #116329);
    --label-fgColor-hover: var(--label-pine-fgColor-hover, #044f1e);
    --label-fgColor-active: var(--label-pine-fgColor-active, #003d16);
  }

  .IssueLabel[data-variant='green'] {
    --label-bgColor-rest: var(--label-green-bgColor-rest, #dafbe1);
    --label-bgColor-hover: var(--label-green-bgColor-hover, #aceebb);
    --label-bgColor-active: var(--label-green-bgColor-active, #6fdd8b);
    --label-fgColor: var(--label-green-fgColor-rest, #1a7f37);
    --label-fgColor-hover: var(--label-green-fgColor-hover, #116329);
    --label-fgColor-active: var(--label-green-fgColor-active, #044f1e);
  }

  .IssueLabel[data-variant='lime'] {
    --label-bgColor-rest: var(--label-lime-bgColor-rest, #efffdb);
    --label-bgColor-hover: var(--label-lime-bgColor-hover, #d8ffb3);
    --label-bgColor-active: var(--label-lime-bgColor-active, #b7ef75);
    --label-fgColor: var(--label-lime-fgColor-rest, #4c6b1f);
    --label-fgColor-hover: var(--label-lime-fgColor-hover, #3f5b1b);
    --label-fgColor-active: var(--label-lime-fgColor-active, #324c14);
  }

  .IssueLabel[data-variant='olive'] {
    --label-bgColor-rest: var(--label-olive-bgColor-rest, #f4f7e6);
    --label-bgColor-hover: var(--label-olive-bgColor-hover, #e5ebc8);
    --label-bgColor-active: var(--label-olive-bgColor-active, #d5dda4);
    --label-fgColor: var(--label-olive-fgColor-rest, #5f6d1f);
    --label-fgColor-hover: var(--label-olive-fgColor-hover, #4f5d1a);
    --label-fgColor-active: var(--label-olive-fgColor-active, #3f4b14);
  }

  .IssueLabel[data-variant='lemon'] {
    --label-bgColor-rest: var(--label-lemon-bgColor-rest, #fff8c5);
    --label-bgColor-hover: var(--label-lemon-bgColor-hover, #fae17d);
    --label-bgColor-active: var(--label-lemon-bgColor-active, #eac54f);
    --label-fgColor: var(--label-lemon-fgColor-rest, #7d4e00);
    --label-fgColor-hover: var(--label-lemon-fgColor-hover, #633c01);
    --label-fgColor-active: var(--label-lemon-fgColor-active, #4d2d00);
  }

  .IssueLabel[data-variant='yellow'] {
    --label-bgColor-rest: var(--label-yellow-bgColor-rest, #fff8c5);
    --label-bgColor-hover: var(--label-yellow-bgColor-hover, #fae17d);
    --label-bgColor-active: var(--label-yellow-bgColor-active, #eac54f);
    --label-fgColor: var(--label-yellow-fgColor-rest, #9a6700);
    --label-fgColor-hover: var(--label-yellow-fgColor-hover, #7d4e00);
    --label-fgColor-active: var(--label-yellow-fgColor-active, #633c01);
  }

  .IssueLabel[data-variant='orange'] {
    --label-bgColor-rest: var(--label-orange-bgColor-rest, #fff1e5);
    --label-bgColor-hover: var(--label-orange-bgColor-hover, #ffd8b5);
    --label-bgColor-active: var(--label-orange-bgColor-active, #ffb77c);
    --label-fgColor: var(--label-orange-fgColor-rest, #bc4c00);
    --label-fgColor-hover: var(--label-orange-fgColor-hover, #953800);
    --label-fgColor-active: var(--label-orange-fgColor-active, #762c00);
  }

  .IssueLabel[data-variant='red'] {
    --label-bgColor-rest: var(--label-red-bgColor-rest, #ffebe9);
    --label-bgColor-hover: var(--label-red-bgColor-hover, #ffcecb);
    --label-bgColor-active: var(--label-red-bgColor-active, #ffaba8);
    --label-fgColor: var(--label-red-fgColor-rest, #cf222e);
    --label-fgColor-hover: var(--label-red-fgColor-hover, #a40e26);
    --label-fgColor-active: var(--label-red-fgColor-active, #82071e);
  }

  .IssueLabel[data-variant='coral'] {
    --label-bgColor-rest: var(--label-coral-bgColor-rest, #fff0eb);
    --label-bgColor-hover: var(--label-coral-bgColor-hover, #ffd6cc);
    --label-bgColor-active: var(--label-coral-bgColor-active, #ffb4a1);
    --label-fgColor: var(--label-coral-fgColor-rest, #c4432b);
    --label-fgColor-hover: var(--label-coral-fgColor-hover, #9e2f1c);
    --label-fgColor-active: var(--label-coral-fgColor-active, #801f0f);
  }

  .IssueLabel[data-variant='gray'] {
    --label-bgColor-rest: var(--label-gray-bgColor-rest, #eaeef2);
    --label-bgColor-hover: var(--label-gray-bgColor-hover, #d8dee4);
    --label-bgColor-active: var(--label-gray-bgColor-active, #afb8c1);
    --label-fgColor: var(--label-gray-fgColor-rest, #59636e);
    --label-fgColor-hover: var(--label-gray-fgColor-hover, #454c54);
    --label-fgColor-active: var(--label-gray-fgColor-active, #32383f);
  }

  .IssueLabel[data-variant='brown'] {
    --label-bgColor-rest: var(--label-brown-bgColor-rest, #f7f1e8);
    --label-bgColor-hover: var(--label-brown-bgColor-hover, #ead8c0);
    --label-bgColor-active: var(--label-brown-bgColor-active, #d7bc91);
    --label-fgColor: var(--label-brown-fgColor-rest, #856d4c);
    --label-fgColor-hover: var(--label-brown-fgColor-hover, #6f573b);
    --label-fgColor-active: var(--label-brown-fgColor-active, #59432e);
  }

  .IssueLabel[data-variant='auburn'] {
    --label-bgColor-rest: var(--label-auburn-bgColor-rest, #fff1e5);
    --label-bgColor-hover: var(--label-auburn-bgColor-hover, #ffd8b5);
    --label-bgColor-active: var(--label-auburn-bgColor-active, #ffb77c);
    --label-fgColor: var(--label-auburn-fgColor-rest, #9a6700);
    --label-fgColor-hover: var(--label-auburn-fgColor-hover, #7d4e00);
    --label-fgColor-active: var(--label-auburn-fgColor-active, #633c01);
  }

  [data-color-mode='dark'] .IssueLabel:not([data-variant]),
  [data-color-mode='night'] .IssueLabel:not([data-variant]),
  [data-color-scheme='dark'] .IssueLabel:not([data-variant]) {
    --label-bgColor-rest: var(--label-bgColor-dark-rest, #30363d);
    --label-bgColor-hover: var(--label-bgColor-dark-hover, #3d444d);
    --label-bgColor-active: var(--label-bgColor-dark-active, #484f58);
    --label-fgColor: var(--label-fgColor-dark, #f0f6fc);
    --label-fgColor-hover: var(--label-fgColor-dark-hover, #f0f6fc);
    --label-fgColor-active: var(--label-fgColor-dark-active, #f0f6fc);
  }

  [data-color-mode='light'] .IssueLabel:not([data-variant]),
  [data-color-mode='day'] .IssueLabel:not([data-variant]),
  [data-color-scheme='light'] .IssueLabel:not([data-variant]) {
    --label-bgColor-rest: var(--label-bgColor-light-rest, #eaeef2);
    --label-bgColor-hover: var(--label-bgColor-light-hover, #d8dee4);
    --label-bgColor-active: var(--label-bgColor-light-active, #afb8c1);
    --label-fgColor: var(--label-fgColor-light, #59636e);
    --label-fgColor-hover: var(--label-fgColor-light-hover, #454c54);
    --label-fgColor-active: var(--label-fgColor-light-active, #32383f);
  }

  @media (prefers-color-scheme: light) {
    [data-color-mode='auto'][data-light-theme*='light']
      .IssueLabel:not([data-variant]) {
      --label-bgColor-rest: var(--label-bgColor-light-rest, #eaeef2);
      --label-bgColor-hover: var(--label-bgColor-light-hover, #d8dee4);
      --label-bgColor-active: var(--label-bgColor-light-active, #afb8c1);
      --label-fgColor: var(--label-fgColor-light, #59636e);
      --label-fgColor-hover: var(--label-fgColor-light-hover, #454c54);
      --label-fgColor-active: var(--label-fgColor-light-active, #32383f);
    }

    [data-color-mode='auto'][data-light-theme*='dark']
      .IssueLabel:not([data-variant]) {
      --label-bgColor-rest: var(--label-bgColor-dark-rest, #30363d);
      --label-bgColor-hover: var(--label-bgColor-dark-hover, #3d444d);
      --label-bgColor-active: var(--label-bgColor-dark-active, #484f58);
      --label-fgColor: var(--label-fgColor-dark, #f0f6fc);
      --label-fgColor-hover: var(--label-fgColor-dark-hover, #f0f6fc);
      --label-fgColor-active: var(--label-fgColor-dark-active, #f0f6fc);
    }
  }

  @media (prefers-color-scheme: dark) {
    [data-color-mode='auto'][data-dark-theme*='light']
      .IssueLabel:not([data-variant]) {
      --label-bgColor-rest: var(--label-bgColor-light-rest, #eaeef2);
      --label-bgColor-hover: var(--label-bgColor-light-hover, #d8dee4);
      --label-bgColor-active: var(--label-bgColor-light-active, #afb8c1);
      --label-fgColor: var(--label-fgColor-light, #59636e);
      --label-fgColor-hover: var(--label-fgColor-light-hover, #454c54);
      --label-fgColor-active: var(--label-fgColor-light-active, #32383f);
    }

    [data-color-mode='auto'][data-dark-theme*='dark']
      .IssueLabel:not([data-variant]) {
      --label-bgColor-rest: var(--label-bgColor-dark-rest, #30363d);
      --label-bgColor-hover: var(--label-bgColor-dark-hover, #3d444d);
      --label-bgColor-active: var(--label-bgColor-dark-active, #484f58);
      --label-fgColor: var(--label-fgColor-dark, #f0f6fc);
      --label-fgColor-hover: var(--label-fgColor-dark-hover, #f0f6fc);
      --label-fgColor-active: var(--label-fgColor-dark-active, #f0f6fc);
    }
  }
}
