.Radio {
  border-radius: var(--borderRadius-full, 100vh);
  transition:
    background-color,
    border-color 80ms cubic-bezier(0.33, 1, 0.68, 1);

  &:where(:checked) {
    background-color: var(--control-checked-fgColor-rest);
    border-color: var(--control-checked-bgColor-rest);
    border-width: var(--borderWidth-thicker);

    &:disabled {
      cursor: not-allowed;
      background-color: var(--control-checked-fgColor-disabled);
      border-color: var(--control-checked-bgColor-disabled);
    }
  }

  &:focus-visible:not(:disabled) {
    border-color: var(--borderColor-accent-emphasis);
    outline: var(--borderWidth-thick) solid var(--borderColor-accent-emphasis);
    outline-offset: 2px;
  }

  @media (forced-colors: active) {
    background-color: canvastext;
    border-color: canvastext;
  }
}
