.Button {
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  gap: var(--base-size-8);
  align-items: center;
  justify-content: center;
  min-width: max-content;
  font-family: inherit;
  font-weight: 600;
  line-height: 20px;
  color: var(--fgColor-default);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--button-default-bgColor-rest);
  border: 1px solid var(--button-default-borderColor-rest);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-resting-small);
  appearance: none;
}

.Button:hover {
  background-color: var(--button-default-bgColor-hover);
  text-decoration: none;
}

.Button:disabled,
.Button[aria-disabled='true'] {
  color: var(--fgColor-muted);
  cursor: not-allowed;
  opacity: 0.65;
}

.ButtonSmall {
  min-height: 28px;
  padding: 3px 12px;
  font-size: 12px;
}

.ButtonMedium {
  min-height: 32px;
  padding: 5px 16px;
  font-size: 14px;
}

.ButtonLarge {
  min-height: 40px;
  padding: 9px 20px;
  font-size: 14px;
}

.ButtonPrimary {
  color: var(--fgColor-onEmphasis);
  background-color: var(--button-primary-bgColor-rest);
  border-color: var(--button-primary-borderColor-rest);
}

.ButtonPrimary:hover {
  background-color: var(--button-primary-bgColor-hover);
}

.ButtonDanger {
  color: var(--fgColor-onEmphasis);
  background-color: var(--button-danger-bgColor-rest);
  border-color: var(--button-danger-borderColor-rest);
}

.ButtonDanger:hover {
  background-color: var(--button-danger-bgColor-hover);
}

.ButtonInvisible {
  color: var(--fgColor-accent);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.ButtonInvisible:hover {
  background-color: var(--bgColor-muted);
}

.LeadingVisual,
.TrailingVisual {
  display: inline-flex;
  align-items: center;
  color: currentColor;
}
