.Input {
  position: relative;
  display: grid;
  width: var(--base-size-16);
  height: var(--base-size-16);
  margin: 0;
  margin-top: var(--base-size-2);
  cursor: pointer;
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--control-borderColor-emphasis);
  appearance: none;
  place-content: center;

  &:disabled {
    background-color: var(--control-bgColor-disabled);
    border-color: var(--control-borderColor-disabled);
  }
}
