.UnderlineNavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MenuItem {
  position: relative;
  display: flex;
  min-height: 45px;
  align-items: center;
}

.MenuDivider {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin-right: var(--base-size-4);
  border-left: 1px solid var(--borderColor-muted);
}

.MoreButton {
  margin: 0;
  padding-top: var(--base-size-4);
  padding-right: var(--base-size-8);
  padding-bottom: var(--base-size-4);
  padding-left: var(--base-size-8);
  font-weight: var(--base-text-weight-normal);
}

.MoreButton > [data-component='trailingAction'] {
  margin-right: 0;
}

.MoreButton :global(.octicon) {
  color: var(--fgColor-muted);
}

.MenuActionList {
  position: absolute;
  z-index: 1;
  top: 90%;
  right: 0;
  min-width: 192px;
  max-width: 640px;
  background: var(--overlay-bgColor);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  list-style: none;
}

.MenuItemContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-size-8);
}

.MeasurementContainer {
  position: absolute;
  top: 0;
  left: -99999px;
  visibility: hidden;
  pointer-events: none;
}
