.Avatar {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
  box-shadow: 0 0 0 1px var(--borderColor-muted);
}

.AvatarCircle {
  border-radius: var(--borderRadius-full);
}
