.IssueLabel {
  --label-r: 153;
  --label-g: 153;
  --label-b: 153;
  --label-h: 0;
  --label-s: 0;
  --label-l: 60;
  --perceived-lightness: calc(
    (
        (var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) +
          (var(--label-b) * 0.0722)
      ) /
      255
  );
  --lightness-switch: max(
    0,
    min(calc(1 / (var(--lightness-threshold) - var(--perceived-lightness))), 1)
  );

  position: relative;
  border-width: var(--borderWidth-thin, 1px);
  border-style: solid;
}

@media (prefers-color-scheme: light) {
  [data-color-mode='auto'][data-light-theme*='light'] .IssueLabel {
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --border-alpha: max(
      0,
      min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1)
    );

    color: hsl(0deg 0% calc(var(--lightness-switch) * 100%));
    background: rgb(var(--label-r) var(--label-g) var(--label-b));
    border-color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) - 25) * 1%) / var(--border-alpha)
    );
  }

  [data-color-mode='auto'][data-light-theme*='dark'] .IssueLabel {
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(
      ((var(--lightness-threshold) - var(--perceived-lightness)) * 100) *
        var(--lightness-switch)
    );

    color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + var(--lighten-by)) * 1%)
    );
    background: rgb(
      var(--label-r) var(--label-g) var(--label-b) / var(--background-alpha)
    );
    border-color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + var(--lighten-by)) * 1%) / var(--border-alpha)
    );
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode='auto'][data-dark-theme*='light'] .IssueLabel {
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --border-alpha: max(
      0,
      min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1)
    );

    color: hsl(0deg 0% calc(var(--lightness-switch) * 100%));
    background: rgb(var(--label-r) var(--label-g) var(--label-b));
    border-color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) - 25) * 1%) / var(--border-alpha)
    );
  }

  [data-color-mode='auto'][data-dark-theme*='dark'] .IssueLabel {
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(
      ((var(--lightness-threshold) - var(--perceived-lightness)) * 100) *
        var(--lightness-switch)
    );

    color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + var(--lighten-by)) * 1%)
    );
    background: rgb(
      var(--label-r) var(--label-g) var(--label-b) / var(--background-alpha)
    );
    border-color: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + var(--lighten-by)) * 1%) / var(--border-alpha)
    );
  }
}

[data-color-mode='light'] .IssueLabel,
[data-color-mode='day'] .IssueLabel,
[data-color-scheme='light'] .IssueLabel {
  --lightness-threshold: 0.453;
  --border-threshold: 0.96;
  --border-alpha: max(
    0,
    min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1)
  );

  color: hsl(0deg 0% calc(var(--lightness-switch) * 100%));
  background: rgb(var(--label-r) var(--label-g) var(--label-b));
  border-color: hsl(
    var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) - 25) * 1%) /
      var(--border-alpha)
  );
}

[data-color-mode='dark'] .IssueLabel,
[data-color-mode='night'] .IssueLabel,
[data-color-scheme='dark'] .IssueLabel {
  --lightness-threshold: 0.6;
  --background-alpha: 0.18;
  --border-alpha: 0.3;
  --lighten-by: calc(
    ((var(--lightness-threshold) - var(--perceived-lightness)) * 100) *
      var(--lightness-switch)
  );

  color: hsl(
    var(--label-h) calc(var(--label-s) * 1%)
      calc((var(--label-l) + var(--lighten-by)) * 1%)
  );
  background: rgb(
    var(--label-r) var(--label-g) var(--label-b) / var(--background-alpha)
  );
  border-color: hsl(
    var(--label-h) calc(var(--label-s) * 1%)
      calc((var(--label-l) + var(--lighten-by)) * 1%) / var(--border-alpha)
  );
}

.IssueLabel:where([data-selected='true']) {
  outline: none;
}

.IssueLabel:where([data-selected='true'])::after {
  position: absolute;
  z-index: 1;
  inset: calc(var(--base-size-2) * -1);
  display: block;
  pointer-events: none;
  content: '';
  border-radius: var(--borderRadius-full);
}

[data-color-mode='light'] .IssueLabel:where([data-selected='true']) {
  background: hsl(
    var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) - 5) * 1%)
  );
}

[data-color-mode='day'] .IssueLabel:where([data-selected='true']),
[data-color-scheme='light'] .IssueLabel:where([data-selected='true']) {
  background: hsl(
    var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) - 5) * 1%)
  );
}

[data-color-mode='light'] .IssueLabel:where([data-selected='true'])::after,
[data-color-mode='day'] .IssueLabel:where([data-selected='true'])::after,
[data-color-scheme='light'] .IssueLabel:where([data-selected='true'])::after {
  box-shadow: 0 0 0 2px rgb(var(--label-r) var(--label-g) var(--label-b));
}

[data-color-mode='dark'] .IssueLabel:where([data-selected='true'])::after,
[data-color-mode='night'] .IssueLabel:where([data-selected='true'])::after,
[data-color-scheme='dark'] .IssueLabel:where([data-selected='true'])::after {
  box-shadow: 0 0 0 2px
    hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + var(--lighten-by)) * 1%)
    );
}

@media (prefers-color-scheme: light) {
  [data-color-mode='auto'][data-light-theme*='light']
    .IssueLabel:where([data-selected='true']) {
    background: hsl(
      var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) - 5) * 1%)
    );
  }

  [data-color-mode='auto'][data-light-theme*='light']
    .IssueLabel:where([data-selected='true'])::after {
    box-shadow: 0 0 0 2px rgb(var(--label-r) var(--label-g) var(--label-b));
  }

  [data-color-mode='auto'][data-light-theme*='dark']
    .IssueLabel:where([data-selected='true'])::after {
    box-shadow: 0 0 0 2px
      hsl(
        var(--label-h) calc(var(--label-s) * 1%)
          calc((var(--label-l) + var(--lighten-by)) * 1%)
      );
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode='auto'][data-dark-theme*='light']
    .IssueLabel:where([data-selected='true']) {
    background: hsl(
      var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) - 5) * 1%)
    );
  }

  [data-color-mode='auto'][data-dark-theme*='light']
    .IssueLabel:where([data-selected='true'])::after {
    box-shadow: 0 0 0 2px rgb(var(--label-r) var(--label-g) var(--label-b));
  }

  [data-color-mode='auto'][data-dark-theme*='dark']
    .IssueLabel:where([data-selected='true'])::after {
    box-shadow: 0 0 0 2px
      hsl(
        var(--label-h) calc(var(--label-s) * 1%)
          calc((var(--label-l) + var(--lighten-by)) * 1%)
      );
  }
}

.IssueLabel:where([data-cursor-is-interactive='true']:hover) {
  box-shadow: var(--shadow-resting-medium, 0 3px 6px rgb(140 149 159 / 15%));
}

[data-color-mode='light']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover),
[data-color-mode='day']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover),
[data-color-scheme='light']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
  background-image:
    linear-gradient(rgb(0 0 0 / 15%), rgb(0 0 0 / 15%)),
    linear-gradient(
      rgb(var(--label-r) var(--label-g) var(--label-b)),
      rgb(var(--label-r) var(--label-g) var(--label-b))
    );
}

[data-color-mode='dark']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover),
[data-color-mode='night']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover),
[data-color-scheme='dark']
  .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
  background: hsl(
    var(--label-h) calc(var(--label-s) * 1%) calc((var(--label-l) + 10) * 1%) /
      0.3
  );
}

@media (prefers-color-scheme: light) {
  [data-color-mode='auto'][data-light-theme*='light']
    .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
    background-image:
      linear-gradient(rgb(0 0 0 / 15%), rgb(0 0 0 / 15%)),
      linear-gradient(
        rgb(var(--label-r) var(--label-g) var(--label-b)),
        rgb(var(--label-r) var(--label-g) var(--label-b))
      );
  }

  [data-color-mode='auto'][data-light-theme*='dark']
    .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
    background: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + 10) * 1%) / 0.3
    );
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode='auto'][data-dark-theme*='light']
    .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
    background-image:
      linear-gradient(rgb(0 0 0 / 15%), rgb(0 0 0 / 15%)),
      linear-gradient(
        rgb(var(--label-r) var(--label-g) var(--label-b)),
        rgb(var(--label-r) var(--label-g) var(--label-b))
      );
  }

  [data-color-mode='auto'][data-dark-theme*='dark']
    .IssueLabel:where([data-cursor-is-interactive='true']:hover) {
    background: hsl(
      var(--label-h) calc(var(--label-s) * 1%)
        calc((var(--label-l) + 10) * 1%) / 0.3
    );
  }
}

.IssueLabel:where([data-has-remove-button='true']) {
  padding-right: 0;
}

.RemoveButton:where([data-has-multiple-action-targets='true']) {
  position: relative;
  z-index: 1;
}
